*{
    margin: 0;
    padding: 0;
    
    font-family: "Poppins", sans-serif;
  }

  .language-selector {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px; /* Set the desired width */
    max-width: 150px; /* Set a maximum width */
  }
  
  #languageSelect {
    padding: 5px;
    font-size: 14px;
  }
  
  
  /*old drop*/
  label {
    font-weight: bold;
    background-size: 30px; /* Set the size of the flag image */
    background-repeat: no-repeat;
    position: fixed;
    right:90%;
    margin-top: -100px;
    background-repeat: no-repeat;
}

select {
  padding: 8px;
  font-size: 16px;
  width: 100px; /* Set the desired width */
  max-width: 150px; /* Set a maximum width */
  top: 0;
  right: 0;
  margin-top: 40px; /* Adjust the margin as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Move the dropdown to the far left */
#languageDropdownContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

option {
  width: 50px;
  height: 40px;
  right: 90%;
  margin-top: -100px;
}


/*dropdown*/
.language {
    display: inline-block;
    margin-top: -5%;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url(lan/flag_thailand.png);
    background-size: 30px; /* Set the size of the flag image */
    background-repeat: no-repeat;
    background-position: 10px 50%; /* Adjust the position of the flag image */
    position: absolute; /* Make room for the flag image */
    left: 90%;
    margin-top: -100px;
    width: 50px;
    height: 40px;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 40px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black; 

}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}
/*language drop downmenu*/

/*Header is nav menu setting*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 15%;
  min-height: 15%;
  padding: 1rem;
  background: #212121;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.header a {
  max-width: 50%;
}

.Logo{
 height: auto;
 object-fit: cover;
}

.Logo img{
  max-width: 20%;
  max-height: 20%;
}

nav{
  list-style-type: none;
  display: flex;
  justify-content: space-between; /* Align items to the right */
  align-items: center;
  padding: 0;
  margin: 0;

}

nav a{
  position: relative;
  font-size: 18px;
  color: whitesmoke;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a::before{
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
}

nav a:hover::before{
  width: 100%;
}


#footer {
  background-color: rgb(20,20,20);
  position: fixed; /* change from absolute to fixed */
  bottom: 0; /* position the footer at the bottom of the viewport */
  width: 100%;
  height: 6%;
  }

  #footer a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}
    
    
    
    #footer a:hover {
            background-color:white;
            color: #80e5ff;
        }
    

      
    /*Resort page Style*/
    .AllRooms{
      position: absolute;
      flex-wrap: wrap;
      width: 120%; /* set a specific width */
      margin-left: 2%; /* use margins to center the box row */
      justify-content: space-evenly;
      border-radius: 10px;
      grid-template-rows: repeat(10, 1fr);
    }
  
    .Rooms {
      width: calc(80% - 10px);
      height: 500px;
      margin-top: 170px;
      margin-bottom: 100px;/*spaced from the bottom*/
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
  
    .Rooms img {
      width: 350%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      flex: 1 0 80%;
    }
  
    .description {
      width: calc(120% - 1em);
      padding-left: 20px;
      float: right;
    }
  
    * {box-sizing: border-box}
  .mySlides1, .mySlides2 {display: flex}
  img {vertical-align: middle;}
  
  /* Slideshow container max width was 44rem*/
  .slideshow-container {
    max-width: 800px; 
    max-height: 600px;
    min-width: 700px;
    min-height: 500px;
    position: relative;
    margin: 0 auto;
  }
  
  .Slides{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  
  .Slides img{
    position:absolute;
    border-radius: 10px;
  }
  
  .Slides p{
    text-align: center;
  }
  
  .roomtypes{
    display: flex;
    position: relative;
    max-height: 600px;
    min-height: 450px;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
  }
  
  .navbutton{
    max-height: 400px;
    max-width: 800px;
    min-height: 400px;
    min-width: 400px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .description{
    text-align: center;
    background-color: rgb(214, 199, 199);/*The color needs to bbe the background colour*/
  }
  
  .description button{
    cursor: pointer;
    margin-top: 30%;
    border-radius: 5px;
    border-style: solid;
    min-width: 80px;
    min-height: 40px;
    border-color: forestgreen;
    background-color: lightblue;
    transition: 0.4s;
  }
  
  .description button:hover{
    color: white;
    margin-top: 28%;
    background-color: forestgreen;
    min-width: 100px;
    min-height: 60px;
    font-weight: bold;
  }
  /*Resort page Style*/
       
    
    .active {
      background-color: #717171;
    }
    
    body{
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #5DB435;
      background-color: rgb(209, 203, 203);
    }

    h2{
      color: green;
      font-size: 100px;
      font-family: 'Crimson Pro';
    }

    p{
      color: #212121;
      font-size: 15px;
    }

    pre{
      color: #212121;
      font-size: 30px;
      font-family: 'Crimson Pro';
    }


    /*Home page Style*/
    .Welcome{
      text-align: center;
      margin-top: 8%;
    }
    .Title{
      margin-bottom: 20px;
    }
    .HomeDetails{
      margin-bottom: 20px;
    }
    .ImageSlider{
      background-color: green;
    }
    .TamImage{
     display: flex;
    }
    .TamImage div img{
      width: 100%;
      height:300px;
    }
    /*Home page Style*/


    /*Restaurant page Style*/
    .AboutR{
      margin-top: 8%;
    }
    .Restaur{
      margin-top: 8%;
      margin-left: 2%;
    }
    .Restaur img{
      width: 790px;
      height: 695px;
      margin-right: 25px;
      border-radius: 20px;
      float: right; /*Use to make text and img to go side by side*/
    }
    .AboutRS button{
      cursor: pointer;
      margin-left: 65px;
      border-radius: 5px;
      border-style: solid;
      min-width: 80px;
      min-height: 40px;
      border-color: forestgreen;
      background-color: lightblue;
      transition: 0.4s;
      margin-bottom: 5%;
    }
    .AboutRS button:hover{
      color: white;
      background-color: forestgreen;
      margin-top: -10px;
      margin-left: 55px;
      min-width: 100px;
      min-height: 60px;
      font-weight: bold;
    }
    

    /*Restaurant page Style*/

    /*Waterpark page Style*/
    .AboutWP{
      margin-top: 8%;
    }
    .WPImg{
      margin-left: 2%;
    }
    .WPImg img{
      width: 800px;
      height: 725px;
      float:left;
      border-radius: 20px;
    }
    /*Waterpark page Style*/

    /*Contact Us Popup*/
    