* {
  /*Styles here are used for the main parts will need style form the test site to full function*/
  margin: 0;
  padding: 0;
}

/* Contact us popup */
#contact-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
#contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#close-contact {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#close-contact {
  cursor: pointer;
  border-radius: 20px;
  border-style: solid;
  min-width: 28px;
  min-height: 28px;
  margin-left: 98.5%;
  margin-top: 1%;
  border-color: forestgreen;
  background-color: lightblue;
  transition: 0.4s;
}
#close-contact:hover {
  color: white;
  background-color: forestgreen;
  min-width: 33px;
  min-height: 33px;
  margin-top: 0.5%;
  font-weight: bold;
}

/*Used for rooms to make grid*/
.ration-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s;
}

.content-info-text {
  margin-top: 5px;
}

.content-info-text p {
  color: rgba(218, 165, 32, 0.76);
}

.ResortRoom {
  width: 100%;
  height: 42.2vh;
  position: relative;
}

.ResortRoom:hover .content-info {
  opacity: 1;
}

.grid-rooms {
  width: 100%;
  height: 100%;
}

.link-text {
  color: forestgreen;
  font-style: italic;
  text-decoration: none;
}

.link-text:hover {
  color: purple;
  text-decoration: underline;
  font-size: 110%;
  transition: 0.5s;
}

@media (min-width: 800px) {
  .ratio-content img {
    width: 32.5vw;
    height: 42vh;
  }
}

@media (min-width: 800px) {
  .row-flex-content-rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 1vw;
    margin-right: 1vh;
    gap: 10px;
  }
}

@media (max-width: 799px) {
  .row-flex-content-rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-left: 1vw;
    margin-right: 1vh;
    gap: 10px;
  }
}

@media (max-width: 799px) {
  .ratio-content img {
    width: 100%;
    height: 42vh;
  }
}

@media (max-width: 480px) {
  .row-flex-content-rooms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: 1vw;
    margin-right: 1vh;
    gap: 10px;
  }
}
/*Used for rooms to make grid*/

/*Resort page Style*/
.site-content {
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(214, 199, 199);
}

.resort-intro-content {
  margin-top: 7%;
}

.resort-intro-info p {
  text-align: center;
  font-size: 1.8vh;
  font-family: "Poppins", sans-serif;
}

.active {
  background-color: #717171;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vh;
  color: #5db435;
  background-color: rgb(209, 203, 203);
}

p {
  color: #212121;
  font-size: 15px;
}

/*Restaurant page Style*/
.AboutR {
  margin-top: 8%;
}
.Restaur {
  margin-top: 8%;
  margin-left: 2%;
}
.Restaur img {
  width: 790px;
  height: 695px;
  margin-right: 25px;
  border-radius: 20px;
  float: right; /*Use to make text and img to go side by side*/
}
.AboutRS button {
  cursor: pointer;
  margin-left: 65px;
  border-radius: 5px;
  border-style: solid;
  min-width: 80px;
  min-height: 40px;
  border-color: forestgreen;
  background-color: lightblue;
  transition: 0.4s;
  margin-bottom: 5%;
}
.AboutRS button:hover {
  color: white;
  background-color: forestgreen;
  margin-top: -10px;
  margin-left: 55px;
  min-width: 100px;
  min-height: 60px;
  font-weight: bold;
}

/*Restaurant page Style*/

/*Waterpark page Style*/
.AboutWP {
  margin-top: 8%;
}
.WPImg {
  margin-left: 2%;
}
.WPImg img {
  width: 800px;
  height: 725px;
  float: left;
  border-radius: 20px;
}
/*Waterpark page Style*/

/*Contact Us Popup*/
